---
import { Navbar } from '../components/Navbar';
import { WhatsappButton } from '../components/WhatsappButton';
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon_light.svg" media="(prefers-color-scheme: no-preference)" />
		<link rel="icon" type="image/svg+xml" href="/favicon_dark.svg" media="(prefers-color-scheme: dark)" />
		<link rel="icon" type="image/svg+xml" href="/favicon_light.svg" media="(prefers-color-scheme: light)" />
		<meta name="generator" content={Astro.generator} />
		<title>Futbol 360</title>
		<ViewTransitions />
	</head>
	<body>
		<Navbar client:visible />
		<WhatsappButton client:visible />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
